<!DOCTYPE html>
<html>

	<head>
	    <title>Title</title>
	    <script src="./scripts/jquery-2.2.1.js"></script>
	    <script src="./scripts/underscore-1.8.3.js"></script>
	    <script src="./scripts/backbone-1.2.3.js"></script>
	    <link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<header id="header"></header>
		<div id="blog-item-area"></div>
		<footer>created by Frank B Greco jr | <a href='http://www.frankgrecojr.com' target=_blank>www.frankgrecojr.com</a></footer>

		<script id="input-template" type="text/html">
			<form>
				<input class=content name=title id=title placeholder=Title type=text autocomplete=off autofocus/>
				&nbsp;
				<textarea class=content name=content placeholder=Content rows=5 type=text autocomplete=off/>
			</form>
		</script>

		<script id="post-template" type="text/html">
			<div class=wrapper>
				<div class=post-title><%= title %></div>
				<div class=date><%= date() %></div>
			</div>
			<div class=post-content><%= content %></div>
		</script>
	</body>

	<script type="text/javascript" src="blog.js"></script>
	<script type="text/javascript" src="header.js"></script>
	<script type="text/javascript" src="posts.js"></script>
</html>
